* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 60px; */
  z-index: 100;
  background: #293f65;
}

/* .header.change_color {
  opacity: 0.7;
} */

.header .logo {
  /* display: inline-block; */
  /* width: 960px; */
  /* height: 60px; */
  margin: 15px 0;
  /* padding: 15px 0; */
}

.menu_btn {
  position: fixed;
  top: 0;
  right: 10px;
  display: flex;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  z-index: 90;
  background-color: #293f65;
}
.menu_btn span,
.menu_btn span:before,
.menu_btn span:after {
  content: '';
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background-color: #ffffff;
  position: absolute;
}
.menu_btn span:before {
  bottom: 8px;
}
.menu_btn span:after {
  top: 8px;
}

#menu_btn_check:checked ~ .menu_btn span {
  background-color: rgba(255, 255, 255, 0);
}
#menu_btn_check:checked ~ .menu_btn span::before {
  bottom: 0;
  transform: rotate(45deg);
}
#menu_btn_check:checked ~ .menu_btn span::after {
  top: 0;
  transform: rotate(-45deg);
}

#menu_btn_check {
  display: none;
}

.menu_content {
  /* width: 100%; */
  /* height: 100%; */
  position: fixed;
  top: 0;
  right: 100%;
  z-index: 80;
  background-color: #293f65;
  /* transition: all 0.7s; */
}
.menu_content ul {
  padding: 70px 10px 0;
}
.menu_content ul li {
  border-bottom: solid 1px #ffffff;
  list-style: none;
}
.menu_content ul li a {
  display: block;
  /* width: 100%; */
  font-size: 15px;
  box-sizing: border-box;
  color:#ffffff;
  text-decoration: none;
  padding: 9px 30px 10px 0;
  position: relative;
}
.menu_content ul li a::before {
  content: "";
  width: 7px;
  height: 7px;
  border-top: solid 2px #ffffff;
  border-right: solid 2px #ffffff;
  transform: rotate(45deg);
  position: absolute;
  right: 11px;
  top: 16px;
}

#menu_btn_check:checked ~ .menu_content {
  /* width: 10%; */
  height: auto;
  right: 0;
}

.wrapper {
  width: 100%;
}

.wrapper .head {
  text-align: center;
  /* margin: auto; */
  margin-top: 180px;
  margin-bottom: 150px;
}

.wrapper .head .frase {
  /* text-align: center; */
  color: #000000;
  margin: auto;
  margin-bottom: 20px;
  /* font-weight: bold; */
}

.wrapper .head .search_field {
  width: 320px;
  height: 40px;
  color: #293F65;
  margin: auto;
  /* text-align: center; */
  /* display: inline; */
  border-radius: 7px;
}

.wrapper .head .search_button {
  width: 70px;
  height: 40px;
  background-color: #2b5eb6;
  color: #ffffff;
  margin: auto;
  margin-left: 15px;
  border-radius: 7px;
}

.wrapper .head_line {
  display: inline-block;
  font-size: 24px;
  font-weight: normal;
  /* width: 180px; */
  margin: 20px;
  background: linear-gradient(transparent 50%, #a8eaff 50%);
}

.partition_line {
  width: 100%;
  border-bottom: solid 1px #000000;
}

.wrapper .carousel {
  /* width: 100%; */
  height: 350px;
  margin: 0 15px;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
}

.wrapper .carousel .carousel_area {
  height: 100%;
  display: flex;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
}

.wrapper .carousel .carousel_area .carousel_list {
  width: 470px;
  height: 300px;
  margin-right: 70px;
  /* border: 1px solid #000000; */
}

.wrapper .carousel .carousel_area .carousel_list:last-child {
  margin-right: 0;
}

.wrapper .carousel .carousel_area .carousel_list .article_item {
  width: 100%;
  height: 100%;
  position: relative;
}

.wrapper .carousel .carousel_area .carousel_list .article_item .img_box {
  /* position: absolute;
  top: 0;
  right: 0;
  left: 0; */
  width: auto;
  /* height: 300px; */
  margin: 0 auto;
}

.wrapper .carousel .carousel_area .carousel_list .article_item .img_box .article_img {
  width: 100%;
  height: 300px;
  vertical-align: bottom;
  text-align: center;
  /* background-size: cover; */
}

.wrapper .carousel .carousel_area .carousel_list .article_item .new_article {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 60px;
  height: 20px;
  background-color: #b5bcc9;
  color: #000000;
  text-align: center;
}

.wrapper .carousel .carousel_area .carousel_list .title {
  height: 50px;
  font-size: 20px;
  border: solid 1px #000000;
  /* background-color: #b5bcc9; */
  color: #000000;
  padding-left: 15px;
  padding-top: 10px;
}

.wrapper .carousel_view_all {
  display: block;
  margin-left: auto;
  margin-right: 15px;
  margin-bottom: 100px;
  cursor: pointer;
  background: transparent;
  border: 0;
}

/* button {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  border: 0;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: none;
  border-radius: 0;
} */

.arrow_wrap {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow_btn {
  width: 48px;
  height: 48px;
  background-color: rgba(113, 135, 245, 0.8);
  border-radius: 50%;
  border: 0;
  /* transition: .2s; */
}

.arrow_btn:focus {
  box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 0.8);
}

.arrow_btn:hover {
  background-color: rgb(51, 79, 216);
  box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 0.8);
}

.arrow_left {
  position: relative
}

.arrow_left:before {
  content: "";
  width: 10px;
  height: 10px;
  border-top: 2px solid #fefefe;
  border-left: 2px solid #fefefe;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-30%, -50%)rotate(-45deg);
}

.arrow_right {
  position: relative
}

.arrow_right:before {
  content: "";
  width: 10px;
  height: 10px;
  border-top: 2px solid #fefefe;
  border-left: 2px solid #fefefe;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-70%, -50%)rotate(135deg);
}

.wrapper .popular_article {
  /* width: 100%; */
  /* height: 500px; */
  text-align: center;
  margin: 0 15px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.wrapper .popular_article .article_list {
  /* width: 100%; */
  margin-right: 20px;
}

.wrapper .popular_article .article_list .article_item {
  width: 100%;
  height: 100%;
  border: 1px solid #000000;
}

.wrapper .popular_article .article_list .article_item .img_box {
  width: 580px;
  overflow: hidden;
}

.wrapper .popular_article .article_list .article_item .img_box .article_img {
  width: 100%;
  /* height: 100%; */
}

.wrapper .popular_article .article_list .article_item .title {
  height: 20%;
  font-size: 20px;
  text-align: left;
  padding-left: 10px;
  padding-top: 5px;
  /* border: solid 1px #000000; */
  /* background-color: #b5bcc9; */
  color: #000000;
}

.wrapper .popular_article .article_column_list {
  /* width: 50%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper .popular_article .article_column_list .article_item {
  width: 100%;
  height: 100%;
  border: 1px solid #000000;
  margin-bottom: 5px;
}

.wrapper .popular_article .article_column_list .article_item:last-child {
  margin-bottom: 0;
}

.wrapper .popular_article .article_column_list .article_item .img_box {
  width: 300px;
  overflow: hidden;
}

.wrapper .popular_article .article_column_list .article_item .img_box .article_img {
  width: 100%;
  /* height: 100%; */
}

.wrapper .popular_article .article_column_list .article_item .title {
  height: 20%;
  font-size: 20px;
  text-align: left;
  padding-left: 10px;
  padding-top: 5px;
  /* border: solid 1px #000000; */
  /* background-color: #b5bcc9; */
  color: #000000;
}

.wrapper .sns_share {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 100px;
}

.wrapper .sns_share .frase {
  font-size: 30px;
  text-align: center;
  margin-bottom: 100px;
}

.wrapper .sns_share .sns_button_group {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.wrapper .sns_share .sns_button_group .sns_button {
  width: 100px;
  height: 100px;
  margin-right: 70px;
  background-color: #2b5eb6;
  color: #ffffff;
  cursor: pointer;
}

.wrapper .sns_share .sns_button_group .sns_button:last-child {
  margin-right: 0;
}

.wrapper .bottom_menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 50px;
}

.wrapper .bottom_menu .head_line.article_category_title {
  font-size: 18px;
  margin: 15px 0;
  margin-left: 15px;
  background: none;
}

.wrapper .bottom_menu .article_category {
  width: 60%;
}

.wrapper .bottom_menu .article_category .category_list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: 15px;
}

.wrapper .bottom_menu .article_category .category_list .category_item {
  width: 80px;
  height: 30px;
  background-color: #2b5eb6;
  color: #ffffff;
  border-radius: 7px;
  margin: 0;
  margin-right: 10px;
  cursor: pointer;
}

.wrapper .bottom_menu .article_category .category_list .category_item:last-child {
  margin-right: 0;
}

.wrapper .bottom_menu .head_line.account_title {
  font-size: 18px;
  margin: 0;
  margin-bottom: 15px;
  background: none;
}

.wrapper .bottom_menu .account {
  margin: 0;
  margin-top: 15px;
  padding: 0 10px;
  border-left: solid 1px #000000;
}

.wrapper .bottom_menu .account .sns_group {
  /* width: 420px; */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.wrapper .bottom_menu .account .official_twitter {
  /* width: 200px; */
  height: 60px;
  background: #3a7beb;
  font-size: 22px;
  color: #FFFFFF;
  text-align: center;
  padding: 0 10px;
  margin: 0;
  margin-right: 20px;
  cursor: pointer;
}

.wrapper .bottom_menu .account .official_facebook {
  /* width: 200px; */
  height: 60px;
  background: #14418f;
  font-size: 22px;
  color: #FFFFFF;
  text-align: center;
  padding: 0 10px;
  margin: 0;
  cursor: pointer;
}

.wrapper .footer {
  text-align: center;
}

@media screen and (max-width:768px) {
  .wrapper .carousel .carousel_area .carousel_list {
    width: 100%;
  }

  .wrapper .carousel .carousel_area .carousel_list .article_item .img_box .article_img {
    width: auto;
  }

  /* .wrapper .popular_article {
    flex-wrap: wrap;
  } */

  .wrapper .popular_article .article_list {
    width: 100%;
    /* margin-right: 0; */
    margin-bottom: 20px;
  }

  .wrapper .popular_article .article_list .article_item {
    align-content: center;
    margin-bottom: 20px;
    /* width: 100%; */
    /* height: 100%; */
  }

  .wrapper .popular_article .article_list .article_item .img_box {
    width: 100%;
    /* height: 100%; */
  }

  .wrapper .popular_article .article_column_list {
    align-content: center;
    width: 70%;
    /* height: 100%; */
  }

  .wrapper .popular_article .article_column_list .article_item {
    margin-bottom: 20px;
  }

  .wrapper .popular_article .article_column_list .article_item .img_box {
    width: 100%;
    /* height: 100%; */
  }

  .wrapper .sns_share .sns_button_group .sns_button {
    width: 100px;
    height: 100px;
    margin-right: 50px;
    background-color: #2b5eb6;
    color: #ffffff;
  }

  .wrapper .footer {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

@media screen and (max-width:420px) {
  .wrapper .head .search_field {
    width: 90%;
  }

  .wrapper .head .search_button {
    margin: auto;
    margin-top: 10px;
  }

  .wrapper .carousel {
    height: 250px;
  }

  .wrapper .carousel .carousel_area .carousel_list {
    height: 200px;
  }

  .wrapper .carousel .carousel_area .carousel_list .article_item .img_box .article_img {
    height: 200px;
  }

  .wrapper .carousel .carousel_area .carousel_list .title {
    font-size: 18px;
  }

  .wrapper .popular_article {
    margin-bottom: 60px;
  }

  .wrapper .popular_article .article_list .article_item .title {
    font-size: 13px;
  }

  .wrapper .popular_article .article_column_list .article_item .title {
    font-size: 13px;
    padding-top: 0;
  }

  .wrapper .sns_share {
    margin-bottom: 60px;
  }

  .wrapper .sns_share .frase {
    font-size: 26px;
    margin-bottom: 50px;
  }

  .wrapper .sns_share .sns_button_group .sns_button {
    width: 60px;
    height: 60px;
    margin-right: 20px;
    font-size: 12px;
  }

  .wrapper .bottom_menu .article_category .category_list {
    flex-direction: column;
  }

  .wrapper .bottom_menu .article_category .category_list .category_item {
    margin-bottom: 5px;
  }

  .wrapper .bottom_menu .account .official_twitter {
    margin-bottom: 5px;
    font-size: 20px;
  }

  .wrapper .bottom_menu .account .official_facebook {
    font-size: 20px;
  }
}