$breakpoint_tablet: 768px;
$breakpoint_mobile: 420px;

@mixin tablet {
  @media (max-width: ($breakpoint_tablet)) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: ($breakpoint_mobile)) {
    @content;
  }
}

.container {
  margin-right: 100px;
  margin-left: 100px;

  .header {
    width: 100%;
    margin: 40px 0;
  }

  .words {
    h5 {
      font-weight: bold;
      font-size: 18px;
      margin-bottom: 15px;
    }

    .words-links {
      .words-prefix_link {
        width: 130px;
        height: 65px;
        line-height: 65px;
        text-align: center;
        margin-right: 15px;
        margin-bottom: 15px;
        border: 2px solid #eeeeee;
        color: inherit;
        text-decoration: none;
        display: inline-block;

        .words-arrow_right {
          position: relative;
          left: 25px;

          &:before {
            content: ">";
            font-weight: bold;
          }
        }
      }
    }

    .words-headline {
      border-bottom: 4px solid #0f0f0f;
      background-color: #f2f2f2;
      padding: 15px;
    }

    .words-row {
      margin-bottom: 20px;

      .words-col {
        list-style: none;
        margin-bottom: 15px;

        @include tablet {
          width: 33%;
        }
      }
    }
  }
}